@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 43, 49, 64;
  --background-end-rgb: 43, 49, 64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 49, 64;
    --background-end-rgb: 43, 49, 64;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100%;
  width: 100%;
}


a, a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input {
  border: 1px solid black;
}

button {
  all: unset;
  cursor: pointer;
}
.body-container {
  margin: auto;
  justify-content: center;
  text-align: center;
  
}

.canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.canvas-item, .navigation-menu, .align-center {
  z-index: 2;
  position: absolute;
}


.opponent {
  z-index: 2;
}


.navigation-menu {
  display: flex;
  align-self: center;
  color: black;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.score {
  display: inline-block;
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  padding-right: 1rem;

}

#background-layer {
  z-index: -1;
  width: 480px;
  aspect-ratio: 3 / 4;
}

.canvas-item {
  width: 480px;
  aspect-ratio: 3 / 4;
}

.opaque {
  opacity: 0.5;
}

.navigation-menu {
  background-color: orangered;
  border: solid black 3px; 
}

.navigation-menu > ul {
  margin: 1rem 1rem;
}

.navigation-menu > ul > li {
  background-color: #c5c9d1;
  border: solid black 2px;
  margin: 1rem 0rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.popup {
  display: block;
  z-index: 4;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: black;
  background-color: orange;
  border: solid black 3px; 
  margin: 0rem 0rem;
  padding: 0.5rem 0.5rem;
  width: 50%;
}

.popup > li > label {
  font-size: 1.5rem;
}


.popup > li > input {
  width: 100%;
}

.popup > li > button {
  background-color: #c5c9d1;
  border: solid black 2px;
  margin: 1rem 0rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.interactive {
  float: right;
  background-color: #c5c9d1;
  color: black;
  padding: 0.2rem 0.5rem;
}

@media (max-width: 480px) {
  #background-layer {
    width: 100%;
  }
  
  .canvas-item {
    width: 100%;
  }
  
}