* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b3140;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a, a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.body-container {
  margin: auto;
  justify-content: center;
  text-align: center;
  
}

.canvas-container {
  display: inline-block;
}

.navigation-menu, #bird, #pipe {
  z-index: 1;
  position: absolute;
}

#background-layer {
  z-index: -1;
}



